
<!DOCTYPE html>



<html xmlns="http://www.w3.org/1999/xhtml" lang="pt-BR">
<head>

  




    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    <title>Lista de Produtos</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/Acai.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/Navbar.css">
    <link rel="stylesheet" href="~/css/Titulos.css">
    <link rel="stylesheet" href="~/css/espacamento.css">
    <link rel="stylesheet" href="~/css/pedidoWhats.css">
    <link rel="stylesheet" href="~/css/Adicionais.css">
    <link rel="stylesheet" href="~/css/Header.css">
   
     
   
 
</head>


<body>
    
        <div class="container">
        <img src="/image/whatsapp-icon.png" alt="WhatsApp" class="whatsapp-icon">
        <span class="whatsapp-text">WhatsApp</span>

            <p class="description">Já escolheu seu pedido? 🍓 Clique no link abaixo e faça seu pedido agora pelo WhatsApp! 📲👇</p>
        <a href="https://wa.me/5534997994865" class="order-button">FAZER PEDIDO AGORA</a>
        </div>


    @Html.Partial("_Header")

  

    <div class="container mt-5">
        <h2 id="acai-title" class="text-center mb-4">Açaí</h2>
     
        <div class="row">


            <div class="campo-adicionais">
                <a href="#adicionais" class="link-adicionais">Confira os Adicionais</a>
            </div>


            <div class="row mb-4"></div>

            <!-- Card 1 -->
            <div class="col-md-4">
                <div class="card mb-4" style="height: 100%;">
                    <img src="/image/imagensAcai/acai200ml.jpg" class="card-img-top" alt="Açaí Médio" />
                    <div class="card-body d-flex flex-column">
                        <h5 class="card-title">Açaí Puro 240ml</h5>
                        <p class="card-text"></p>
                        <p class="card-text"><strong>Preço: R$ 9,90</strong></p>
                        <div class="mt-auto">
                            <!-- Botão para abrir a modal -->
                            <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#acaiModal240" onclick="setPrecoBase(9.90, '240')">Ver Mais</button>
                        </div>
                    </div>
                </div>
            </div>

            <!-- Modal 240ml -->
            <div class="modal fade" id="acaiModal240" tabindex="-1" aria-labelledby="acaiModalLabel240" aria-hidden="true">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title" id="acaiModalLabel240">Açaí Puro 240ml</h5>
                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                        </div>
                        <div class="modal-body">
                            <img src="/image/imagensAcai/acai200ml.jpg" class="img-fluid mb-3" alt="Açaí Médio" />
                            <p>200ml de açaí no copo de 240ml.</p>
                            <p><strong>Preço base: R$ 9,90</strong></p>
                            <div id="adicionaisContainer240">
                                <!-- Os adicionais serão gerados aqui -->
                            </div>
                            <div>
                                <p><strong>Total: R$ <span id="precoTotal240">9.90</span></strong></p>
                            </div>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Fechar</button>
                        </div>
                    </div>
                </div>
            </div>

            <!-- Card 2 -->
            <div class="col-md-4">
                <div class="card mb-4" style="height: 100%;">
                    <img src="/image/imagensAcai/acai300.jpg" class="card-img-top" alt="Açaí Médio" />
                    <div class="card-body d-flex flex-column">
                        <h5 class="card-title">Açaí Puro 300ml</h5>
                        <p class="card-text"><strong>Preço: R$ 14,90</strong></p>
                        <div class="mt-auto">
                            <!-- Botão para abrir a modal -->
                            <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#acaiModal300" onclick="setPrecoBase(14.90, '300')">Ver Mais</button>
                        </div>
                    </div>
                </div>
            </div>

            <!-- Modal 300ml -->
            <div class="modal fade" id="acaiModal300" tabindex="-1" aria-labelledby="acaiModalLabel300" aria-hidden="true">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title" id="acaiModalLabel300">Açaí Puro 300ml</h5>
                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                        </div>
                        <div class="modal-body">
                            <img src="/image/imagensAcai/acai300.jpg" class="img-fluid mb-3" alt="Açaí Médio" />
                            <p>
                                300ml de açaí no copo de 300ml.
                                Observação: A partir de 2 adicionais, o açaí é servido no copo transparente de 330ml.
                                Sem glúten | Sem lactose | Açaí com baixo teor de açúcar adicionado na fabricação.
                                <br><strong>Preço base: R$ 14,90</strong>
                            </p>
                            <div id="adicionaisContainer300">
                                <!-- Adicionais serão gerados aqui -->
                            </div>
                            <div>
                                <p><strong>Total: R$ <span id="precoTotal300">14.90</span></strong></p>
                            </div>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Fechar</button>
                        </div>
                    </div>
                </div>
            </div>



            <!-- Card 3 -->
            <div class="col-md-4">
                <div class="card mb-4" style="height: 100%;">
                    <img src="/image/imagensAcai/acai500ml.jpg" class="card-img-top" alt="Açaí Médio" />
                    <div class="card-body d-flex flex-column">
                        <h5 class="card-title">Açaí Puro 500ml</h5>
                        <p class="card-text"></p>
                        <p class="card-text"><strong>Preço: R$ 18,40</strong></p>
                        <div class="mt-auto">
                            <!-- Botão para abrir a modal -->
                         
                            <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#acaiModal500" onclick="setPrecoBase(18.40, '500')">Ver Mais</button>
                        </div>
                    </div>
                </div>
            </div>

            <!-- Modal -->
            <div class="modal fade" id="acaiModal500" tabindex="-1" aria-labelledby="acaiModalLabel" aria-hidden="true">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title" id="acaiModalLabel">Açaí Puro 500ml</h5>
                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                        </div>
                        <div class="modal-body">
                            <img src="/image/imagensAcai/acai500ml.jpg" class="img-fluid mb-3" alt="Açaí Médio" />
                            <p>
                                500ml de açaí na marmita de isopor.
                                A partir de 5 adicionais, o açaí será servido em um copo transparente de 550ml para melhor acomodar os ingredientes.
                                Sem glúten | Sem lactose | Açaí com baixo teor de açúcar adicionado na fabricação |
                            </p>

                            <div id="adicionaisContainer500">
                                <!-- Adicionais serão gerados aqui -->
                            </div>
                            <div>
                                <p><strong>Total: R$ <span id="precoTotal500">18.90</span></strong></p>
                            </div>

                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Fechar</button>

                        </div>
                    </div>
                </div>
            </div>

            <!-- Espaçamento a cada 3 cards -->
            <div class="row mb-4"></div> <!-- Adiciona um espaço abaixo dos primeiros três cards -->

            <!-- Card 4 -->
            <div class="col-md-4">
                <div class="card mb-4" style="height: 100%;">
                    <img src="/image/imagensAcai/acai700ml.jpg" class="card-img-top" alt="Açaí Médio" />
                    <div class="card-body d-flex flex-column">
                        <h5 class="card-title">Açaí Puro 700ml</h5>
                        <p class="card-text"></p>
                        <p class="card-text"><strong>Preço: R$ 24,60</strong></p>
                        <div class="mt-auto">
                            <!-- Botão para abrir a modal -->
                            <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#acaiModal700" onclick="setPrecoBase(24.60, '700')">Ver Mais</button>
                        </div>
                    </div>
                </div>
            </div>

            <!-- Modal -->
            <div class="modal fade" id="acaiModal700" tabindex="-1" aria-labelledby="acaiModalLabel" aria-hidden="true">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title" id="acaiModalLabel">Açaí Puro 700ml</h5>
                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                        </div>
                        <div class="modal-body">
                            <img src="/image/imagensAcai/acai700ml.jpg" class="img-fluid mb-3" alt="Açaí Médio" />
                            <p>
                                Delicie-se com o frescor e a energia do nosso Açaí Puro Delight de 700ml! Com um sabor intenso e uma textura irresistível, é a escolha perfeita para satisfazer sua fome e revitalizar seu dia.
                                Proporciona uma experiência nutritiva a cada colherada, ideal para ser apreciado puro ou com seus adicionais favoritos, como granola, banana ou leite condensado. Transforme seu momento de prazer com o Açaí Puro Delight!
                            </p>
                            <div id="adicionaisContainer700">
                                <!-- Adicionais serão gerados aqui -->
                            </div>
                            <div>
                                <p><strong>Total: R$ <span id="precoTotal700">24.60</span></strong></p>
                            </div>


                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Fechar</button>

                        </div>
                    </div>
                </div>
            </div>


            <!-- Card 5 -->
            <div class="col-md-4">
                <div class="card mb-4" style="height: 100%;">
                    <img src="/image/imagensAcai/acai1kg.jpg" class="card-img-top" alt="Açaí Grande" />
                    <div class="card-body d-flex flex-column">
                        <h5 class="card-title">Açaí Puro 1kg</h5>
                        <p class="card-text">.</p>
                        <p class="card-text"><strong>Preço: R$ 33,90</strong></p>
                        <div class="mt-auto">
                            <!-- Botão para abrir a modal -->
                        
                            <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#acaiModal1000" onclick="setPrecoBase(33.90, '1000')">Ver Mais</button>
                        </div>
                    </div>
                </div>
            </div>

            <!-- Modal -->
            <div class="modal fade" id="acaiModal1000" tabindex="-1" aria-labelledby="acaiModalLabel" aria-hidden="true">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title" id="acaiModalLabel">Açaí Puro 1kg</h5>
                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                        </div>
                        <div class="modal-body">
                            <img src="/image/imagensAcai/acai1kg.jpg" class="img-fluid mb-3" alt="Açaí Médio" />
                            <p>
                                Ideal para compartilhar e desfrutar em grupo, o Açaí Puro Delight 1kg garante uma experiência completa e revitalizante.
                                Com seu sabor intenso e cremosidade única, é a escolha perfeita para quem quer mais porções e mais prazer
                            </p>
                            <div id="adicionaisContainer1000">
                                <!-- Adicionais serão gerados aqui -->
                            </div>
                            <div>
                                <p><strong>Total: R$ <span id="precoTotal1000">33.90</span></strong></p>
                            </div>



                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Fechar</button>

                        </div>
                    </div>
                </div>
            </div>




            <!-- Card 6 -->
            <div class="col-md-4">
                <div class="card mb-4" style="height: 100%;">
                    <img src="/image/imagensAcai/AcaiNutsAtt.jpg" class="card-img-top" alt="Salada de Frutas" />
                    <div class="card-body d-flex flex-column">
                        <h5 class="card-title">Açaí Nuts Delight 500ml.</h5>
                        <p class="card-text"></p>
                        <p class="card-text"><strong>Preço: R$ 26,50</strong></p>
                        <div class="mt-auto">
                            <!-- Botão para abrir a modal -->
                           
                            <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#acaiModalNut500n" onclick="setPrecoBase(26.50, '500n')">Ver Mais</button>
                        </div>
                    </div>
                </div>
            </div>


            <!-- Modal -->
            <div class="modal fade" id="acaiModalNut500n" tabindex="-1" aria-labelledby="acaiModalLabel" aria-hidden="true">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title" id="acaiModalLabel">Açaí Nuts Delight 500ml.</h5>
                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                        </div>
                        <div class="modal-body">
                            <img src="/image/imagensAcai/AcaiNutsAtt.jpg" class="img-fluid mb-3" alt="Açaí Médio" />
                            <p>
                                Uma deliciosa combinação de açaí cremoso com mix de nuts triturados, proporcionando um toque crocante e nutritivo. Perfeito para um lanche saudável a qualquer hora!
                            </p>
                            <div id="adicionaisContainer500n">
                                <!-- Adicionais serão gerados aqui -->
                            </div>
                            <div>
                                <p><strong>Total: R$ <span id="precoTotal500n">26,50</span></strong></p>
                            </div>

                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Fechar</button>

                        </div>
                    </div>
                </div>
            </div>

            <!-- Espaçamento a cada 3 cards -->
            <div class="row mb-4"></div> <!-- Adiciona um espaço abaixo dos primeiros três cards -->


            <!-- Card 7 -->
            <div class="col-md-4">
                <div class="card mb-4" style="height: 100%;">
                    <img src="/image/imagensAcai/AcaiSensacaoATT.jpg" class="card-img-top" alt="Salada de Frutas" />
                    <div class="card-body d-flex flex-column">
                        <h5 class="card-title">Sensação ChocoFit Delight 500ml.</h5>
                        <p class="card-text">

                        </p>
                        <p class="card-text"><strong>Preço: R$ 28,00</strong></p>
                        <div class="mt-auto">
                            <!-- Botão para abrir a modal -->
                      
                            <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#acaiChoco500c" onclick="setPrecoBase(28.00, '500c')">Ver Mais</button>
                        </div>
                    </div>
                </div>
            </div>

            <!-- Modal -->
            <div class="modal fade" id="acaiChoco500c" tabindex="-1" aria-labelledby="acaiModalLabel" aria-hidden="true">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title" id="acaiModalLabel">Sensação ChocoFit Delight 500ml.</h5>
                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                        </div>
                        <div class="modal-body">
                            <img src="/image/imagensAcai/AcaiSensacaoATT.jpg" class="img-fluid mb-3" alt="Açaí Médio" />
                            <p>
                                Desfrute do Açaí ChocoFit Delight, uma mistura de  açaí, brigadeiro chocofit delight, morango e castanha.
                            </p>

                            <div id="adicionaisContainer500c">
                                <!-- Adicionais serão gerados aqui -->
                            </div>
                            <div>
                                <p><strong>Total: R$ <span id="precoTotal500c">28,00</span></strong></p>
                            </div>

                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Fechar</button>

                        </div>
                    </div>
                </div>
            </div>




            <!-- Card 8 -->
            <div class="col-md-4">
                <div class="card mb-4" style="height: 100%;">
                    <img src="/image/imagensAcai/AcaiNutsAtt.jpg" class="card-img-top" alt="Salada de Frutas" />
                    <div class="card-body d-flex flex-column">
                        <h5 class="card-title">Açaí Nuts Delight 1kg.</h5>
                        <p class="card-text"></p>
                        <p class="card-text"><strong>Preço: R$ 53,00</strong></p>
                        <div class="mt-auto">
                            <!-- Botão para abrir a modal -->
                   
                            <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#acaiModalNu" onclick="setPrecoBase(53.00, '500nu')">Ver Mais</button>


                        </div>
                    </div>
                </div>
            </div>

            <!-- Modal -->
            <div class="modal fade" id="acaiModalNu" tabindex="-1" aria-labelledby="acaiModalLabel" aria-hidden="true">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title" id="acaiModalLabel">Açaí Nuts Delight 1kg.</h5>
                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                        </div>
                        <div class="modal-body">
                            <img src="/image/imagensAcai/AcaiNutsAtt.jpg" class="img-fluid mb-3" alt="Açaí Médio" />
                            <p>
                                Uma deliciosa combinação de açaí cremoso com mix de nuts triturados, proporcionando um toque crocante e nutritivo. Perfeito para um lanche saudável a qualquer hora!
                            </p>
                            <div id="adicionaisContainer500nu">
                                <!-- Adicionais serão gerados aqui -->
                            </div>
                            <div>
                                <p><strong>Total: R$ <span id="precoTotal500nu">53,00</span></strong></p>
                            </div>


                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Fechar</button>

                        </div>
                    </div>
                </div>
            </div>


            <!-- Card 9 -->
            <div class="col-md-4">
                <div class="card mb-4" style="height: 100%;">
                    <img src="/image/imagensAcai/AcaiSensacaoATT.jpg" class="card-img-top" alt="Salada de Frutas" />
                    <div class="card-body d-flex flex-column">
                        <h5 class="card-title">Sensação ChocoFit Delight 1kg.</h5>
                        <p class="card-text">

                        </p>
                        <p class="card-text"><strong>Preço: R$ 63,80</strong></p>
                        <div class="mt-auto">
                            <!-- Botão para abrir a modal -->
                           
                            <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#acaiModalChoco1" onclick="setPrecoBase(63.00, '500ch')">Ver Mais</button>
                        </div>
                    </div>
                </div>
            </div>






            <!-- Modal -->
            <div class="modal fade" id="acaiModalChoco1" tabindex="-1" aria-labelledby="acaiModalLabel" aria-hidden="true">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title" id="acaiModalLabel">Sensação ChocoFit Delight 1kg.</h5>
                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                        </div>
                        <div class="modal-body">
                            <img src="/image/imagensAcai/AcaiSensacaoATT.jpg" class="img-fluid mb-3" alt="Açaí Médio" />
                            <p>
                                Desfrute do Açaí ChocoFit Delight, uma mistura de  açaí, brigadeiro chocofit delight, morango e castanha.
                            </p>
                            <div id="adicionaisContainer500ch">
                                <!-- Adicionais serão gerados aqui -->
                            </div>
                            <div>
                                <p><strong>Total: R$ <span id="precoTotal500ch">63,00</span></strong></p>
                            </div>

                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Fechar</button>

                        </div>
                    </div>
                </div>
            </div>








            <!-- -------------------------------- -->





            <script>
                let precoBase = 0;
                let totalAdicionais300 = 0;  // Total de adicionais para o container 300
                let totalAdicionais240 = 0;  // Total de adicionais para o container 240
                let totalAdicionais500 = 0;  // Total de adicionais para o container 500
                let totalAdicionais700 = 0;  // Total de adicionais para o container 700
                let totalAdicionais1000 = 0; // Total de adicionais para o container 1000
                let totalAdicionais500n = 0; // Total de adicionais para o container 500n
                let totalAdicionais500c = 0; // Total de adicionais para o container 500c
                let totalAdicionais500nu = 0; // Total de adicionais para o container 500nu
                let totalAdicionais500ch = 0; // Total de adicionais para o container 500ch
                const contagemAdicionais = {};

                // Lista de adicionais e seus preços
                const adicionais = [
                    { nome: "Amendoim", preco: 2.15 },
                    { nome: "Aveia com flocos finos", preco: 2.00 },
                    { nome: "Banana", preco: 2.50 },
                    { nome: "Brigadeiro tradicional artesanal com granulado de chocolate", preco: 7.00 },
                    { nome: "Brigadeiro Fit Delight", preco: 5.00 },
                    { nome: "Bis chocolate branco", preco: 3.00 },
                    { nome: "Bis chocolate", preco: 3.00 },
                    { nome: "Castanha", preco: 2.90 },
                    { nome: "Chantilly tradicional", preco: 3.00 },
                    { nome: "ChocoBall", preco: 2.50 },
                    { nome: "Creme de avelã", preco: 5.00 },
                    { nome: "Creme ninho fit Delight", preco: 5.00 },
                    { nome: "Creme ninho tradicional", preco: 4.00 },
                    { nome: "Creme de morango", preco: 5.00 },
                    { nome: "Creme prestigio artesanal", preco: 7.00 },
                    { nome: "Doce de leite", preco: 3.00 },
                    { nome: "Farinha Láctea", preco: 2.50 },
                    { nome: "Granola, quinoa com castanha sem glúten", preco: 4.50 },
                    { nome: "Granola tradicional", preco: 3.00 },
                    { nome: "Leite Condensado", preco: 2.50 },
                    { nome: "Leite em pó", preco: 3.00 },
                    { nome: "Leite em pó zero", preco: 4.50 },
                    { nome: "Mel", preco: 2.20 },
                    { nome: "Morango", preco: 4.50 },
                    { nome: "Ouro Branco(3un)", preco: 5.50 },
                    { nome: "Sonho de valsa(3un)", preco: 5.50 },
                    { nome: "Tub-hool-Canudo wafer triturado", preco: 2.10 },
                    { nome: "Morango", preco: 4.50 },
                    { nome: "Nutella", preco: 7.00 },
                    { nome: "Paçoca", preco: 3.00 },
                    { nome: "Pêssego em calda", preco: 4.50 },
                    { nome: "Ovomaltine", preco: 4.00 },
                    { nome: "Whey Protein de chocolate. (Growth)", preco: 8.50 },
                    { nome: "Whey Protein de morango. (Growth)", preco: 8.50 }
                ];

                // Definir o preço base do produto
                function setPrecoBase(preco) {
                    precoBase = preco;
                    totalAdicionais300 = 0; // Resetar adicionais do container 300
                    totalAdicionais240 = 0; // Resetar adicionais do container 240
                    totalAdicionais500 = 0; // Resetar adicionais do container 500
                    totalAdicionais700 = 0; // Resetar adicionais do container 700
                    totalAdicionais1000 = 0; // Resetar adicionais do container 1000
                    totalAdicionais500n = 0; // Resetar adicionais do container 500n
                    totalAdicionais500c = 0; // Resetar adicionais do container 500c
                    totalAdicionais500nu = 0; // Resetar adicionais do container 500nu
                    totalAdicionais500ch = 0; // Resetar adicionais do container 500ch
                    atualizarPrecoTotal();  // Atualiza o preço total de todos os containers
                    gerarAdicionais(['adicionaisContainer300', 'adicionaisContainer240', 'adicionaisContainer500', 'adicionaisContainer700', 'adicionaisContainer1000', 'adicionaisContainer500n', 'adicionaisContainer500c', 'adicionaisContainer500nu', 'adicionaisContainer500ch']);  // Gerar adicionais para todos os containers
                }

                // Função para gerar os adicionais dinamicamente no modal para múltiplos containers
                function gerarAdicionais(containersIds) {
                    containersIds.forEach(containerId => {
                        const container = document.getElementById(containerId);
                        if (!container) return; // Se o container não existir, pula para o próximo

                        container.innerHTML = ''; // Limpar o container antes de adicionar os novos itens

                        adicionais.forEach(adicional => {
                            contagemAdicionais[`${adicional.nome}-${containerId}`] = 0; // Inicializar a contagem por container

                            // Criar o HTML para o adicional
                            const div = document.createElement('div');
                            div.classList.add('d-flex', 'justify-content-between', 'align-items-center', 'mb-3');
                            div.innerHTML = `
                                <span>${adicional.nome} (R$ ${adicional.preco.toFixed(2)})</span>
                                <button class="btn btn-outline-primary" onclick="decrementarAdicional('${adicional.nome}', ${adicional.preco}, '${containerId}')">-</button>
                                <span id="quantidade${adicional.nome}-${containerId}">0</span>
                                <button class="btn btn-outline-primary" onclick="incrementarAdicional('${adicional.nome}', ${adicional.preco}, '${containerId}')">+</button>
                            `;
                            container.appendChild(div);
                        });
                    });
                }

                // Função para incrementar adicionais
                function incrementarAdicional(adicional, precoAdicional, containerId) {
                    const key = `${adicional}-${containerId}`;
                    contagemAdicionais[key]++;
                    if (containerId === 'adicionaisContainer300') {
                        totalAdicionais300 += precoAdicional;
                    } else if (containerId === 'adicionaisContainer240') {
                        totalAdicionais240 += precoAdicional;
                    } else if (containerId === 'adicionaisContainer500') {
                        totalAdicionais500 += precoAdicional;
                    } else if (containerId === 'adicionaisContainer700') {
                        totalAdicionais700 += precoAdicional;
                    } else if (containerId === 'adicionaisContainer1000') {
                        totalAdicionais1000 += precoAdicional; // Corrigido para totalAdicionais1000
                    } else if (containerId === 'adicionaisContainer500n') {
                        totalAdicionais500n += precoAdicional; // Corrigido para totalAdicionais500n
                    } else if (containerId === 'adicionaisContainer500c') {
                        totalAdicionais500c += precoAdicional; // Corrigido para totalAdicionais500c
                    } else if (containerId === 'adicionaisContainer500nu') {
                        totalAdicionais500nu += precoAdicional; // Corrigido para totalAdicionais500nu
                    } else if (containerId === 'adicionaisContainer500ch') {
                        totalAdicionais500ch += precoAdicional; // Corrigido para totalAdicionais500ch
                    }
                    document.getElementById(`quantidade${adicional}-${containerId}`).textContent = contagemAdicionais[key];
                    atualizarPrecoTotal();
                }

                // Função para decrementar adicionais
                function decrementarAdicional(adicional, precoAdicional, containerId) {
                    const key = `${adicional}-${containerId}`;
                    if (contagemAdicionais[key] > 0) {
                        contagemAdicionais[key]--;
                        if (containerId === 'adicionaisContainer300') {
                            totalAdicionais300 -= precoAdicional;
                        } else if (containerId === 'adicionaisContainer240') {
                            totalAdicionais240 -= precoAdicional;
                        } else if (containerId === 'adicionaisContainer500') {
                            totalAdicionais500 -= precoAdicional;
                        } else if (containerId === 'adicionaisContainer700') {
                            totalAdicionais700 -= precoAdicional;
                        } else if (containerId === 'adicionaisContainer1000') {
                            totalAdicionais1000 -= precoAdicional; // Corrigido para totalAdicionais1000
                        } else if (containerId === 'adicionaisContainer500n') {
                            totalAdicionais500n -= precoAdicional; // Corrigido para totalAdicionais500n
                        } else if (containerId === 'adicionaisContainer500c') {
                            totalAdicionais500c -= precoAdicional; // Corrigido para totalAdicionais500c
                        } else if (containerId === 'adicionaisContainer500nu') {
                            totalAdicionais500nu -= precoAdicional; // Corrigido para totalAdicionais500nu
                        } else if (containerId === 'adicionaisContainer500ch') {
                            totalAdicionais500ch -= precoAdicional; // Corrigido para totalAdicionais500ch
                        }
                        document.getElementById(`quantidade${adicional}-${containerId}`).textContent = contagemAdicionais[key];
                    }
                    atualizarPrecoTotal();
                }

                // Função para atualizar o preço total
                function atualizarPrecoTotal() {
                    const precoTotal300 = precoBase + totalAdicionais300;
                    const precoTotal240 = precoBase + totalAdicionais240;
                    const precoTotal500 = precoBase + totalAdicionais500;
                    const precoTotal700 = precoBase + totalAdicionais700;
                    const precoTotal1000 = precoBase + totalAdicionais1000;
                    const precoTotal500n = precoBase + totalAdicionais500n;
                    const precoTotal500c = precoBase + totalAdicionais500c;
                    const precoTotal500nu = precoBase + totalAdicionais500nu; // Exibir preço do container 500nu
                    const precoTotal500ch = precoBase + totalAdicionais500ch; // Exibir preço do container 500ch

                    document.getElementById('precoTotal300').textContent = precoTotal300.toFixed(2);
                    document.getElementById('precoTotal240').textContent = precoTotal240.toFixed(2);
                    document.getElementById('precoTotal500').textContent = precoTotal500.toFixed(2);
                    document.getElementById('precoTotal700').textContent = precoTotal700.toFixed(2);
                    document.getElementById('precoTotal1000').textContent = precoTotal1000.toFixed(2);
                    document.getElementById('precoTotal500n').textContent = precoTotal500n.toFixed(2); // Exibir preço do container 500n
                    document.getElementById('precoTotal500c').textContent = precoTotal500c.toFixed(2); // Exibir preço do container 500c
                    document.getElementById('precoTotal500nu').textContent = precoTotal500nu.toFixed(2); // Exibir preço do container 500nu
                    document.getElementById('precoTotal500ch').textContent = precoTotal500ch.toFixed(2); // Exibir preço do container 500ch
                }



            </script>

            <style>
                .modal-body {
                    padding: 20px;
                }

                .modal-header {
                    background-color: #f8f9fa;
                    border-bottom: 1px solid #ddd;
                }

                .modal-footer {
                    background-color: #f8f9fa;
                    border-top: 1px solid #ddd;
                }

                .btn-outline-primary {
                    padding: 0.4rem 1rem;
                    font-size: 1rem;
                }

                .d-flex {
                    display: flex;
                    align-items: center;
                }

                .justify-content-between {
                    justify-content: space-between;
                }

                .mb-3 {
                    margin-bottom: 1rem;
                }

                .btn-close {
                    background: none;
                    border: none;
                }

                .modal-dialog {
                    max-width: 500px;
                }
            </style>



            <section id="adicionais">
                <!-- Seção de Adicionais -->
                <div class="mt-5">
                    <h3 class="adicionais-title">Adicionais para Açaí</h3>
               

                    <div class="row justify-content-center">
                        <div class="col-md-4 mb-3">
                            <div class="adicional-card p-3 text-center d-flex flex-column align-items-center">
                                <img src="/image/Icons/amendoim.png" alt="Amendoim" style="width: 32px; height: 32px;" class="mb-2">
                                <h5 class="adicional-item">Amendoim</h5>
                                <p class="adicional-preco">R$ 2,15</p>
                            </div>
                        </div>
                        <div class="col-md-4 mb-3">
                            <div class="adicional-card p-3 text-center d-flex flex-column align-items-center">
                                <img src="/image/Icons/trigo.png" alt="Amendoim" style="width: 32px; height: 32px;" class="mb-2">
                                <h5 class="adicional-item">Aveia com flocos finos</h5>
                                <p class="adicional-preco">R$ 2,00</p>
                            </div>
                        </div>

                        <div class="col-md-4 mb-3">
                            <div class="adicional-card p-3 text-center d-flex flex-column align-items-center">
                                <img src="/image/Icons/bananas.png" alt="Amendoim" style="width: 32px; height: 32px;" class="mb-2">
                                <h5 class="adicional-item">Banana</h5>
                                <p class="adicional-preco">R$ 2,50</p>
                            </div>
                        </div>


                        <div class="col-md-4 mb-3">
                            <div class="adicional-card p-3 text-center d-flex flex-column align-items-center">
                                <img src="/image/Icons/cupcake_1448448.png" alt="Amendoim" style="width: 32px; height: 32px;" class="mb-2">
                                <h5 class="adicional-item">Brigadeiro tradicional artesanal com granulado de chocolate </h5>
                                <p class="adicional-preco">R$7,00</p>
                            </div>
                        </div>

                        <div class="col-md-4 mb-3">
                            <div class="adicional-card p-3 text-center d-flex flex-column align-items-center">
                                <img src="/image/Icons/brownie.png" alt="Amendoim" style="width: 32px; height: 32px;" class="mb-2">
                                <h5 class="adicional-item">Brigadeiro Fit Delight</h5>
                                <p class="adicional-preco">R$ 6,00</p>
                            </div>
                        </div>

                        <div class="col-md-4 mb-3">
                            <div class="adicional-card p-3 text-center d-flex flex-column align-items-center">
                                <img src="/image/Icons/chocolate_677780.png" alt="Amendoim" style="width: 32px; height: 32px;" class="mb-2">
                                <h5 class="adicional-item">Bis chocolate branco</h5>
                                <p class="adicional-preco">R$ 3,00</p>
                            </div>
                        </div>

                        <div class="col-md-4 mb-3">
                            <div class="adicional-card p-3 text-center d-flex flex-column align-items-center">
                                <img src="/image/Icons/chocolate_677780.png" alt="Amendoim" style="width: 32px; height: 32px;" class="mb-2">
                                <h5 class="adicional-item">Bis chocolate</h5>
                                <p class="adicional-preco">R$ 3,00</p>
                            </div>
                        </div>

                          <div class="col-md-4 mb-3">
                            <div class="adicional-card p-3 text-center d-flex flex-column align-items-center">
                                <img src="/image/Icons/castanha-do-para.png" alt="Amendoim" style="width: 32px; height: 32px;" class="mb-2">
                                <h5 class="adicional-item">Castanha</h5>
                                <p class="adicional-preco">R$ 2,90</p>
                            </div>
                        </div>
                     



                        <div class="col-md-4 mb-3">
                            <div class="adicional-card p-3 text-center d-flex flex-column align-items-center">
                                <img src="/image/Icons/chantilly.png" alt="Amendoim" style="width: 32px; height: 32px;" class="mb-2">
                                <h5 class="adicional-item">Chantilly tradicional</h5>
                                <p class="adicional-preco">R$ 2,50</p>
                            </div>
                        </div>


                        <div class="col-md-4 mb-3">
                            <div class="adicional-card p-3 text-center d-flex flex-column align-items-center">
                                <img src="/image/Icons/food_13700661.png" alt="Amendoim" style="width: 32px; height: 32px;" class="mb-2">
                                <h5 class="adicional-item">ChocoBall</h5>
                                <p class="adicional-preco">R$ 2,50</p>
                            </div>
                        </div>

                          <div class="col-md-4 mb-3">
                            <div class="adicional-card p-3 text-center d-flex flex-column align-items-center">
                                <img src="/image/Icons/granola.png" alt="Amendoim" style="width: 32px; height: 32px;" class="mb-2">
                                <h5 class="adicional-item">Creme de avelã</h5>
                                <p class="adicional-preco">R$ 5,00</p>
                            </div>
                        </div>

                          <div class="col-md-4 mb-3">
                            <div class="adicional-card p-3 text-center d-flex flex-column align-items-center">
                                <img src="/image/Icons/hummus_6158949.png" alt="Amendoim" style="width: 32px; height: 32px;" class="mb-2">
                                <h5 class="adicional-item">Creme ninho fit Delight</h5>
                                <p class="adicional-preco">R$ 5,00</p>
                            </div>

                        </div>

                        <div class="col-md-4 mb-3">
                            <div class="adicional-card p-3 text-center d-flex flex-column align-items-center">
                                <img src="/image/Icons/hummus_6158949.png" alt="Amendoim" style="width: 32px; height: 32px;" class="mb-2">
                                <h5 class="adicional-item">Creme ninho tradicional</h5>
                                <p class="adicional-preco">R$ 4,00</p>
                            </div>

                        </div>

                          <div class="col-md-4 mb-3">
                            <div class="adicional-card p-3 text-center d-flex flex-column align-items-center">
                                <img src="/image/Icons/milk_12121178.png" alt="Amendoim" style="width: 32px; height: 32px;" class="mb-2">
                                <h5 class="adicional-item">Doce de leite</h5>
                                <p class="adicional-preco">R$ 3,00</p>
                            </div>
                        </div>

                        <div class="col-md-4 mb-3">
                            <div class="adicional-card p-3 text-center d-flex flex-column align-items-center">
                                <img src="/image/Icons/granola.png" alt="Amendoim" style="width: 32px; height: 32px;" class="mb-2">
                                <h5 class="adicional-item">Farinha Lactea</h5>
                                <p class="adicional-preco">R$ 2,50</p>
                            </div>
                        </div>


                          <div class="col-md-4 mb-3">
                            <div class="adicional-card p-3 text-center d-flex flex-column align-items-center">
                                <img src="/image/Icons/shuizhu_890055.png" alt="Amendoim" style="width: 32px; height: 32px;" class="mb-2">
                                <h5 class="adicional-item">Granola, quinoa com castanha sem glúten</h5>
                                <p class="adicional-preco">R$ 4,50</p>
                            </div>
                        </div>

                        <div class="col-md-4 mb-3">
                            <div class="adicional-card p-3 text-center d-flex flex-column align-items-center">
                                <img src="/image/Icons/shuizhu_890055.png" alt="Amendoim" style="width: 32px; height: 32px;" class="mb-2">
                                <h5 class="adicional-item">Granola tradicional</h5>
                                <p class="adicional-preco">R$ 3,00</p>
                            </div>
                        </div>

                          <div class="col-md-4 mb-3">
                            <div class="adicional-card p-3 text-center d-flex flex-column align-items-center">
                                <img src="/image/Icons/milk_11752048.png" alt="Amendoim" style="width: 32px; height: 32px;" class="mb-2">
                                <h5 class="adicional-item">Leite Condensado</h5>
                                <p class="adicional-preco">R$ 2,50</p>
                            </div>
                        </div>

                          <div class="col-md-4 mb-3">
                            <div class="adicional-card p-3 text-center d-flex flex-column align-items-center">
                                <img src="/image/Icons/protein_6750843.png" alt="Amendoim" style="width: 32px; height: 32px;" class="mb-2">
                                <h5 class="adicional-item">Leite em pó</h5>
                                <p class="adicional-preco">R$ 3,00</p>
                            </div>
                        </div>

                          <div class="col-md-4 mb-3">
                            <div class="adicional-card p-3 text-center d-flex flex-column align-items-center">
                                <img src="/image/Icons/protein_6750843.png" alt="Amendoim" style="width: 32px; height: 32px;" class="mb-2">
                                <h5 class="adicional-item">Leite em pó zero</h5>
                                <p class="adicional-preco">R$ 4,50</p>
                            </div>
                        </div>

                        <div class="col-md-4 mb-3">
                            <div class="adicional-card p-3 text-center d-flex flex-column align-items-center">
                                <img src="/image/Icons/honey_5016789.png" alt="Amendoim" style="width: 32px; height: 32px;" class="mb-2">
                                <h5 class="adicional-item">Mel</h5>
                                <p class="adicional-preco">R$2,20</p>
                            </div>
                        </div>

                        <div class="col-md-4 mb-3">
                            <div class="adicional-card p-3 text-center d-flex flex-column align-items-center">
                                <img src="/image/Icons/morango.png" alt="Amendoim" style="width: 32px; height: 32px;" class="mb-2">
                                <h5 class="adicional-item">Morango</h5>
                                <p class="adicional-preco">R$3,50</p>
                            </div>
                        </div>


                        <div class="col-md-4 mb-3">
                            <div class="adicional-card p-3 text-center d-flex flex-column align-items-center">
                                <img src="/image/Icons/sweet_14172697.png" alt="Amendoim" style="width: 32px; height: 32px;" class="mb-2">
                                <h5 class="adicional-item">Nutella</h5>
                                <p class="adicional-preco">R$7,00</p>
                            </div>
                        </div>


                           <div class="col-md-4 mb-3">
                            <div class="adicional-card p-3 text-center d-flex flex-column align-items-center">
                                <img src="/image/Icons/sweets_9021110.png" alt="Amendoim" style="width: 32px; height: 32px;" class="mb-2">
                                <h5 class="adicional-item">Ouro Branco</h5>
                                <p class="adicional-preco">R$5,50</p>
                            </div>
                        </div>


                           <div class="col-md-4 mb-3">
                            <div class="adicional-card p-3 text-center d-flex flex-column align-items-center">
                                <img src="/image/Icons/bread_13700605.png" alt="Amendoim" style="width: 32px; height: 32px;" class="mb-2">
                                <h5 class="adicional-item">OvoMaltine</h5>
                                <p class="adicional-preco">R$4,00</p>
                            </div>
                        </div>


                           <div class="col-md-4 mb-3">
                            <div class="adicional-card p-3 text-center d-flex flex-column align-items-center">
                                <img src="/image/Icons/tempeh_18385044.png" alt="Amendoim" style="width: 32px; height: 32px;" class="mb-2">
                                <h5 class="adicional-item">Paçoca</h5>
                                <p class="adicional-preco">R$3,00</p>
                            </div>
                        </div>


                        <div class="col-md-4 mb-3">
                            <div class="adicional-card p-3 text-center d-flex flex-column align-items-center">
                                <img src="/image/Icons/coconut_11035835.png" alt="Amendoim" style="width: 32px; height: 32px;" class="mb-2">
                                <h5 class="adicional-item">Prestígio artesanal</h5>
                                <p class="adicional-preco">R$7,00</p>
                            </div>
                        </div>

                        <div class="col-md-4 mb-3">
                            <div class="adicional-card p-3 text-center d-flex flex-column align-items-center">
                                <img src="/image/Icons/sweets_9021110.png" alt="Amendoim" style="width: 32px; height: 32px;" class="mb-2">
                                <h5 class="adicional-item">Sonho de valsa</h5>
                                <p class="adicional-preco">R$5,50</p>
                            </div>
                        </div>


                        <div class="col-md-4 mb-3">
                            <div class="adicional-card p-3 text-center d-flex flex-column align-items-center">
                                <img src="/image/Icons/cappuccino_1588953.png" alt="Amendoim" style="width: 32px; height: 32px;" class="mb-2">
                                <h5 class="adicional-item">Tub-in de chocolate</h5>
                                <p class="adicional-preco">R$2,10</p>
                            </div>
                        </div>


                        <div class="col-md-4 mb-3">
                            <div class="adicional-card p-3 text-center d-flex flex-column align-items-center">
                                <img src="/image/Icons/whey_1593687.png" alt="Amendoim" style="width: 32px; height: 32px;" class="mb-2">
                                <h5 class="adicional-item">Whey Protein de Chocolate - Zero (lactose,gluten e açucar) (Growth) </h5>
                                <p class="adicional-preco">R$8,50</p>
                            </div>
                        </div>

                        <div class="col-md-4 mb-3">
                            <div class="adicional-card p-3 text-center d-flex flex-column align-items-center">
                                <img src="/image/Icons/wheyFrutas.png" alt="Amendoim" style="width: 32px; height: 32px;" class="mb-2">
                                <h5 class="adicional-item">Whey Protein de Morango - Zero (lactose,gluten e açucar) (Growth) </h5>
                                <p class="adicional-preco">R$8,50</p>
                            </div>
                        </div>


                     
                         



                    </div>
                </div>
            </section>


        </div>
    </div>


    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
    <script src="~/js/site.js" asp-append-version="true"></script>




    

</body>
</html>
