<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" lang="pt-BR">
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    <title>Lista de Produtos</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/Acai.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/Navbar.css">
    <link rel="stylesheet" href="~/css/Titulos.css">
    <link rel="stylesheet" href="~/css/espacamento.css">
    <link rel="stylesheet" href="~/css/pedidoWhats.css">
    <link rel="stylesheet" href="~/css/Adicionais.css">


  
</head>


<body>
    
        <div class="container">
        <img src="/image/whatsapp-icon.png" alt="WhatsApp" class="whatsapp-icon">
        <span class="whatsapp-text">WhatsApp</span>

            <p class="description">Já escolheu seu pedido? 🍓 Clique no link abaixo e faça seu pedido agora pelo WhatsApp! 📲👇</p>
        <a href="https://wa.me/5534997994865" class="order-button">FAZER PEDIDO AGORA</a>
        </div>

 
  
  

    <div class="container mt-5">
        <h2 id="acai-title" class="text-center mb-4">Casadinhos</h2>
     
        <div class="row">


            <div class="campo-adicionais">
                <a href="#adicionais" class="link-adicionais">Confira os Adicionais</a>
            </div>


            <div class="row mb-4"></div>

           

            <!-- Card 1 -->
            <div class="col-md-4">
                <div class="card mb-4" style="height: 100%;">
                    <img src="/image/Casadinho/casadinhoCremeNinho.png" class="card-img-top" alt="Açaí Médio" />
                    <div class="card-body d-flex flex-column">
                        <h5 class="card-title">Casadinho com creme Ninho 500ml.</h5>
                        <p class="card-text"></p>
                        <p class="card-text"><strong>Preço: R$ 18,40</strong></p>
                        <div class="mt-auto">
                            <!-- Botão para abrir a modal -->
                            <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#acaiModal500">Ver Mais</button>
                        </div>
                    </div>
                </div>
            </div>


            <!-- Modal -->
            <div class="modal fade" id="acaiModal500" tabindex="-1" aria-labelledby="acaiModalLabel" aria-hidden="true">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title" id="acaiModalLabel">Casadinho com creme Ninho 500ml.</h5>
                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                        </div>
                        <div class="modal-body">
                            <img src="/image/Casadinho/casadinhoCremeNinho.png" class="img-fluid mb-3" alt="Açaí Médio" />
                            <p>
                                Açaí recheado com creme Ninho, disponível em duas opções:
                                -Fit: sem glúten, sem lactose e sem açúcar, para quem busca uma versão saudável.
                                -Tradicional: creme Ninho clássico, cremoso e irresistível.
                                A combinação perfeita de sabor e cremosidade!
                            
                            </p>
                            <p><strong>Preço: R$ 18,40</strong></p>


                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Fechar</button>

                        </div>
                    </div>
                </div>
            </div>



            <!-- Card 2 -->
            <div class="col-md-4">
                <div class="card mb-4" style="height: 100%;">
                    <img src="/image/Casadinho/casadinhoCremeNinho.png" class="card-img-top" alt="Açaí Médio" />
                    <div class="card-body d-flex flex-column">
                        <h5 class="card-title">Casadinho com creme Ninho 1kg.</h5>
                        <p class="card-text"></p>
                        <p class="card-text"><strong>Preço: R$ 44,80</strong></p>
                        <div class="mt-auto">
                            <!-- Botão para abrir a modal -->
                            <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#acaiModal1kg">Ver Mais</button>
                        </div>
                    </div>
                </div>
            </div>


            <!-- Modal -->
            <div class="modal fade" id="acaiModal1kg" tabindex="-1" aria-labelledby="acaiModalLabel" aria-hidden="true">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title" id="acaiModalLabel">Casadinho com creme Ninho 1kg.</h5>
                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                        </div>
                        <div class="modal-body">
                            <img src="/image/Casadinho/casadinhoCremeNinho.png" class="img-fluid mb-3" alt="Açaí Médio" />
                            <p>
                                Açaí recheado com creme Ninho, disponível em duas opções:
                                -Fit: sem glúten, sem lactose e sem açúcar, para quem busca uma versão saudável.
                                -Tradicional: creme Ninho clássico, cremoso e irresistível.
                                A combinação perfeita de sabor e cremosidade!

                            </p>
                            <p><strong>Preço: R$ 44,80</strong></p>


                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Fechar</button>

                        </div>
                    </div>
                </div>
            </div>
           

            <!-- Card 3 -->
            <div class="col-md-4">
                <div class="card mb-4" style="height: 100%;">
                    <img src="/image/Casadinho/CasadinhoCupucu.png" class="card-img-top" alt="Açaí Grande" />
                    <div class="card-body d-flex flex-column">
                        <h5 class="card-title">Casadinho com creme de cupuaçu 500ml.</h5>
                        <p class="card-text">.</p>
                        <p class="card-text"><strong>Preço: R$ 28,40</strong></p>
                        <div class="mt-auto">
                            <!-- Botão para abrir a modal -->
                            <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#cupu">Ver Mais</button>
                        </div>
                    </div>
                </div>
            </div>

            <!-- Modal -->
            <div class="modal fade" id="cupu" tabindex="-1" aria-labelledby="acaiModalLabel" aria-hidden="true">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title" id="acaiModalLabel">Casadinho com creme de cupuaçu 500ml.</h5>
                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                        </div>
                        <div class="modal-body">
                            <img src="/image/Casadinho/CasadinhoCupucu.png" class="img-fluid mb-3" alt="Açaí Médio" />
                            <p>

                                Açaí recheado com creme de cupuaçu, uma explosão de sabor exótico e cremoso. Perfeito para quem ama a combinação do açaí com o toque único do cupuaçu!
                                <p><strong>Preço: R$ 28,40</strong></p>


                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Fechar</button>
                            
                        </div>
                    </div>
                </div>
            </div>


            <!-- Espaçamento a cada 3 cards -->
            <div class="row mb-4"></div> <!-- Adiciona um espaço abaixo dos primeiros três cards -->

            <!-- Card 4 -->
            <div class="col-md-4">
                <div class="card mb-4" style="height: 100%;">
                    <img src="/image/Casadinho/CasadinhoCupucu.png" class="card-img-top" alt="Açaí Grande" />
                    <div class="card-body d-flex flex-column">
                        <h5 class="card-title">Casadinho com creme de cupuaçu 1kg.</h5>
                        <p class="card-text">.</p>
                        <p class="card-text"><strong>Preço: R$ 56,80</strong></p>
                        <div class="mt-auto">
                            <!-- Botão para abrir a modal -->
                            <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#cupu2">Ver Mais</button>
                        </div>
                    </div>
                </div>
            </div>

            <!-- Modal -->
            <div class="modal fade" id="cupu2" tabindex="-1" aria-labelledby="acaiModalLabel" aria-hidden="true">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title" id="acaiModalLabel">Casadinho com creme de cupuaçu 1kg.</h5>
                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                        </div>
                        <div class="modal-body">
                            <img src="/image/Casadinho/CasadinhoCupucu.png" class="img-fluid mb-3" alt="Açaí Médio" />
                            <p>

                                Açaí recheado com creme de cupuaçu, uma explosão de sabor exótico e cremoso. Perfeito para quem ama a combinação do açaí com o toque único do cupuaçu!
                            <p><strong>Preço: R$ 56,80</strong></p>


                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Fechar</button>

                        </div>
                    </div>
                </div>
            </div>

            <!-- Card 5 -->
            <div class="col-md-4">
                <div class="card mb-4" style="height: 100%;">
                    <img src="/image/Casadinho/CasadinhoIorgut.png" class="card-img-top" alt="Açaí Grande" />
                    <div class="card-body d-flex flex-column">
                        <h5 class="card-title">Casadinho com Iogurte Natural 500ml.</h5>
                        <p class="card-text">.</p>
                        <p class="card-text"><strong>Preço: R$ 26,80</strong></p>
                        <div class="mt-auto">
                            <!-- Botão para abrir a modal -->
                            <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#io">Ver Mais</button>
                        </div>
                    </div>
                </div>
            </div>

            <!-- Modal -->
            <div class="modal fade" id="io" tabindex="-1" aria-labelledby="acaiModalLabel" aria-hidden="true">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title" id="acaiModalLabel">Casadinho com Iogurte Natural 500ml.</h5>
                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                        </div>
                        <div class="modal-body">
                            <img src="/image/Casadinho/CasadinhoIorgut.png" class="img-fluid mb-3" alt="Açaí Médio" />
                            <p>

                                Açaí com iogurte natural, uma combinação refrescante e cremosa que une o sabor do açaí com a suavidade do iogurte. E o melhor de tudo: escolha seus toppings favoritos e crie a combinação perfeita!
                                <p><strong>Preço: R$ 26,80</strong></p>


                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Fechar</button>

                        </div>
                    </div>
                </div>
            </div>


            <!-- Card 6 -->
            <div class="col-md-4">
                <div class="card mb-4" style="height: 100%;">
                    <img src="/image/Casadinho/CasadinhoIorgut.png" class="card-img-top" alt="Açaí Grande" />
                    <div class="card-body d-flex flex-column">
                        <h5 class="card-title">Casadinho com Iogurte Natural 1kg.</h5>
                        <p class="card-text">.</p>
                        <p class="card-text"><strong>Preço: R$ 53,60</strong></p>
                        <div class="mt-auto">
                            <!-- Botão para abrir a modal -->
                            <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#io2">Ver Mais</button>
                        </div>
                    </div>
                </div>
            </div>

            <!-- Modal -->
            <div class="modal fade" id="io2" tabindex="-1" aria-labelledby="acaiModalLabel" aria-hidden="true">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title" id="acaiModalLabel">Casadinho com Iogurte Natural 1kg.</h5>
                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                        </div>
                        <div class="modal-body">
                            <img src="/image/Casadinho/CasadinhoIorgut.png" class="img-fluid mb-3" alt="Açaí Médio" />
                            <p>

                                Açaí com iogurte natural, uma combinação refrescante e cremosa que une o sabor do açaí com a suavidade do iogurte. E o melhor de tudo: escolha seus toppings favoritos e crie a combinação perfeita!
                            <p><strong>Preço: R$ 53,60</strong></p>


                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Fechar</button>

                        </div>
                    </div>
                </div>
            </div>





          


          


            <section id="adicionais">
                <!-- Seção de Adicionais -->
                <div class="mt-5">
                    <h3 class="adicionais-title">Adicionais para casadinhos</h3>
               

                    <div class="row justify-content-center">
                        <div class="col-md-4 mb-3">
                            <div class="adicional-card p-3 text-center d-flex flex-column align-items-center">
                                <img src="/image/Icons/amendoim.png" alt="Amendoim" style="width: 32px; height: 32px;" class="mb-2">
                                <h5 class="adicional-item">Amendoim</h5>
                                <p class="adicional-preco">R$ 2,15</p>
                            </div>
                        </div>
                        <div class="col-md-4 mb-3">
                            <div class="adicional-card p-3 text-center d-flex flex-column align-items-center">
                                <img src="/image/Icons/trigo.png" alt="Amendoim" style="width: 32px; height: 32px;" class="mb-2">
                                <h5 class="adicional-item">Aveia com flocos finos</h5>
                                <p class="adicional-preco">R$ 2,00</p>
                            </div>
                        </div>

                        <div class="col-md-4 mb-3">
                            <div class="adicional-card p-3 text-center d-flex flex-column align-items-center">
                                <img src="/image/Icons/bananas.png" alt="Amendoim" style="width: 32px; height: 32px;" class="mb-2">
                                <h5 class="adicional-item">Banana</h5>
                                <p class="adicional-preco">R$ 2,50</p>
                            </div>
                        </div>


                        <div class="col-md-4 mb-3">
                            <div class="adicional-card p-3 text-center d-flex flex-column align-items-center">
                                <img src="/image/Icons/cupcake_1448448.png" alt="Amendoim" style="width: 32px; height: 32px;" class="mb-2">
                                <h5 class="adicional-item">Brigadeiro tradicional artesanal com granulado de chocolate </h5>
                                <p class="adicional-preco">R$7,00</p>
                            </div>
                        </div>

                        <div class="col-md-4 mb-3">
                            <div class="adicional-card p-3 text-center d-flex flex-column align-items-center">
                                <img src="/image/Icons/brownie.png" alt="Amendoim" style="width: 32px; height: 32px;" class="mb-2">
                                <h5 class="adicional-item">Brigadeiro Fit Delight</h5>
                                <p class="adicional-preco">R$ 6,00</p>
                            </div>
                        </div>

                        <div class="col-md-4 mb-3">
                            <div class="adicional-card p-3 text-center d-flex flex-column align-items-center">
                                <img src="/image/Icons/chocolate_677780.png" alt="Amendoim" style="width: 32px; height: 32px;" class="mb-2">
                                <h5 class="adicional-item">Bis chocolate branco</h5>
                                <p class="adicional-preco">R$ 3,00</p>
                            </div>
                        </div>

                        <div class="col-md-4 mb-3">
                            <div class="adicional-card p-3 text-center d-flex flex-column align-items-center">
                                <img src="/image/Icons/chocolate_677780.png" alt="Amendoim" style="width: 32px; height: 32px;" class="mb-2">
                                <h5 class="adicional-item">Bis chocolate</h5>
                                <p class="adicional-preco">R$ 3,00</p>
                            </div>
                        </div>

                        <div class="col-md-4 mb-3">
                            <div class="adicional-card p-3 text-center d-flex flex-column align-items-center">
                                <img src="/image/Icons/castanha-do-para.png" alt="Amendoim" style="width: 32px; height: 32px;" class="mb-2">
                                <h5 class="adicional-item">Castanha</h5>
                                <p class="adicional-preco">R$ 2,90</p>
                            </div>
                        </div>
                        <div class="col-md-4 mb-3">
                            <div class="adicional-card p-3 text-center d-flex flex-column align-items-center">
                                <img src="/image/Icons/chantilly.png" alt="Amendoim" style="width: 32px; height: 32px;" class="mb-2">
                                <h5 class="adicional-item">Chantilly 0 lactose</h5>
                                <p class="adicional-preco">R$ 4,00</p>
                            </div>
                        </div>

                        <div class="col-md-4 mb-3">
                            <div class="adicional-card p-3 text-center d-flex flex-column align-items-center">
                                <img src="/image/Icons/chantilly.png" alt="Amendoim" style="width: 32px; height: 32px;" class="mb-2">
                                <h5 class="adicional-item">Chantilly tradicional</h5>
                                <p class="adicional-preco">R$ 2,50</p>
                            </div>
                        </div>


                        <div class="col-md-4 mb-3">
                            <div class="adicional-card p-3 text-center d-flex flex-column align-items-center">
                                <img src="/image/Icons/food_13700661.png" alt="Amendoim" style="width: 32px; height: 32px;" class="mb-2">
                                <h5 class="adicional-item">ChocoBall</h5>
                                <p class="adicional-preco">R$ 2,50</p>
                            </div>
                        </div>

                        <div class="col-md-4 mb-3">
                            <div class="adicional-card p-3 text-center d-flex flex-column align-items-center">
                                <img src="/image/Icons/granola.png" alt="Amendoim" style="width: 32px; height: 32px;" class="mb-2">
                                <h5 class="adicional-item">Creme de avelã</h5>
                                <p class="adicional-preco">R$ 5,00</p>
                            </div>
                        </div>

                        <div class="col-md-4 mb-3">
                            <div class="adicional-card p-3 text-center d-flex flex-column align-items-center">
                                <img src="/image/Icons/hummus_6158949.png" alt="Amendoim" style="width: 32px; height: 32px;" class="mb-2">
                                <h5 class="adicional-item">Creme ninho fit Delight</h5>
                                <p class="adicional-preco">R$ 5,00</p>
                            </div>

                        </div>

                        <div class="col-md-4 mb-3">
                            <div class="adicional-card p-3 text-center d-flex flex-column align-items-center">
                                <img src="/image/Icons/hummus_6158949.png" alt="Amendoim" style="width: 32px; height: 32px;" class="mb-2">
                                <h5 class="adicional-item">Creme ninho tradicional</h5>
                                <p class="adicional-preco">R$ 4,00</p>
                            </div>

                        </div>

                        <div class="col-md-4 mb-3">
                            <div class="adicional-card p-3 text-center d-flex flex-column align-items-center">
                                <img src="/image/Icons/milk_12121178.png" alt="Amendoim" style="width: 32px; height: 32px;" class="mb-2">
                                <h5 class="adicional-item">Doce de leite</h5>
                                <p class="adicional-preco">R$ 3,00</p>
                            </div>
                        </div>

                        <div class="col-md-4 mb-3">
                            <div class="adicional-card p-3 text-center d-flex flex-column align-items-center">
                                <img src="/image/Icons/granola.png" alt="Amendoim" style="width: 32px; height: 32px;" class="mb-2">
                                <h5 class="adicional-item">Farinha Lactea</h5>
                                <p class="adicional-preco">R$ 2,50</p>
                            </div>
                        </div>


                        <div class="col-md-4 mb-3">
                            <div class="adicional-card p-3 text-center d-flex flex-column align-items-center">
                                <img src="/image/Icons/shuizhu_890055.png" alt="Amendoim" style="width: 32px; height: 32px;" class="mb-2">
                                <h5 class="adicional-item">Granola, quinoa com castanha sem glúten</h5>
                                <p class="adicional-preco">R$ 4,50</p>
                            </div>
                        </div>

                        <div class="col-md-4 mb-3">
                            <div class="adicional-card p-3 text-center d-flex flex-column align-items-center">
                                <img src="/image/Icons/shuizhu_890055.png" alt="Amendoim" style="width: 32px; height: 32px;" class="mb-2">
                                <h5 class="adicional-item">Granola tradicional</h5>
                                <p class="adicional-preco">R$ 3,00</p>
                            </div>
                        </div>

                        <div class="col-md-4 mb-3">
                            <div class="adicional-card p-3 text-center d-flex flex-column align-items-center">
                                <img src="/image/Icons/milk_11752048.png" alt="Amendoim" style="width: 32px; height: 32px;" class="mb-2">
                                <h5 class="adicional-item">Leite Condensado</h5>
                                <p class="adicional-preco">R$ 2,50</p>
                            </div>
                        </div>

                        <div class="col-md-4 mb-3">
                            <div class="adicional-card p-3 text-center d-flex flex-column align-items-center">
                                <img src="/image/Icons/protein_6750843.png" alt="Amendoim" style="width: 32px; height: 32px;" class="mb-2">
                                <h5 class="adicional-item">Leite em pó</h5>
                                <p class="adicional-preco">R$ 3,00</p>
                            </div>
                        </div>

                        <div class="col-md-4 mb-3">
                            <div class="adicional-card p-3 text-center d-flex flex-column align-items-center">
                                <img src="/image/Icons/protein_6750843.png" alt="Amendoim" style="width: 32px; height: 32px;" class="mb-2">
                                <h5 class="adicional-item">Leite em pó zero</h5>
                                <p class="adicional-preco">R$ 4,50</p>
                            </div>
                        </div>

                        <div class="col-md-4 mb-3">
                            <div class="adicional-card p-3 text-center d-flex flex-column align-items-center">
                                <img src="/image/Icons/honey_5016789.png" alt="Amendoim" style="width: 32px; height: 32px;" class="mb-2">
                                <h5 class="adicional-item">Mel</h5>
                                <p class="adicional-preco">R$2,20</p>
                            </div>
                        </div>

                        <div class="col-md-4 mb-3">
                            <div class="adicional-card p-3 text-center d-flex flex-column align-items-center">
                                <img src="/image/Icons/morango.png" alt="Amendoim" style="width: 32px; height: 32px;" class="mb-2">
                                <h5 class="adicional-item">Morango</h5>
                                <p class="adicional-preco">R$3,50</p>
                            </div>
                        </div>


                        <div class="col-md-4 mb-3">
                            <div class="adicional-card p-3 text-center d-flex flex-column align-items-center">
                                <img src="/image/Icons/sweet_14172697.png" alt="Amendoim" style="width: 32px; height: 32px;" class="mb-2">
                                <h5 class="adicional-item">Nutella</h5>
                                <p class="adicional-preco">R$7,00</p>
                            </div>
                        </div>


                        <div class="col-md-4 mb-3">
                            <div class="adicional-card p-3 text-center d-flex flex-column align-items-center">
                                <img src="/image/Icons/sweets_9021110.png" alt="Amendoim" style="width: 32px; height: 32px;" class="mb-2">
                                <h5 class="adicional-item">Ouro Branco</h5>
                                <p class="adicional-preco">R$5,50</p>
                            </div>
                        </div>


                        <div class="col-md-4 mb-3">
                            <div class="adicional-card p-3 text-center d-flex flex-column align-items-center">
                                <img src="/image/Icons/bread_13700605.png" alt="Amendoim" style="width: 32px; height: 32px;" class="mb-2">
                                <h5 class="adicional-item">OvoMaltine</h5>
                                <p class="adicional-preco">R$4,00</p>
                            </div>
                        </div>


                        <div class="col-md-4 mb-3">
                            <div class="adicional-card p-3 text-center d-flex flex-column align-items-center">
                                <img src="/image/Icons/tempeh_18385044.png" alt="Amendoim" style="width: 32px; height: 32px;" class="mb-2">
                                <h5 class="adicional-item">Paçoca</h5>
                                <p class="adicional-preco">R$3,00</p>
                            </div>
                        </div>


                        <div class="col-md-4 mb-3">
                            <div class="adicional-card p-3 text-center d-flex flex-column align-items-center">
                                <img src="/image/Icons/coconut_11035835.png" alt="Amendoim" style="width: 32px; height: 32px;" class="mb-2">
                                <h5 class="adicional-item">Prestígio artesanal</h5>
                                <p class="adicional-preco">R$7,00</p>
                            </div>
                        </div>

                        <div class="col-md-4 mb-3">
                            <div class="adicional-card p-3 text-center d-flex flex-column align-items-center">
                                <img src="/image/Icons/sweets_9021110.png" alt="Amendoim" style="width: 32px; height: 32px;" class="mb-2">
                                <h5 class="adicional-item">Sonho de valsa</h5>
                                <p class="adicional-preco">R$5,50</p>
                            </div>
                        </div>


                        <div class="col-md-4 mb-3">
                            <div class="adicional-card p-3 text-center d-flex flex-column align-items-center">
                                <img src="/image/Icons/cappuccino_1588953.png" alt="Amendoim" style="width: 32px; height: 32px;" class="mb-2">
                                <h5 class="adicional-item">Tub-in de chocolate</h5>
                                <p class="adicional-preco">R$2,10</p>
                            </div>
                        </div>


                        <div class="col-md-4 mb-3">
                            <div class="adicional-card p-3 text-center d-flex flex-column align-items-center">
                                <img src="/image/Icons/whey_1593687.png" alt="Amendoim" style="width: 32px; height: 32px;" class="mb-2">
                                <h5 class="adicional-item">Whey Protein de Chocolate - Zero (lactose,gluten e açucar) (Growth) </h5>
                                <p class="adicional-preco">R$8,50</p>
                            </div>
                        </div>

                        <div class="col-md-4 mb-3">
                            <div class="adicional-card p-3 text-center d-flex flex-column align-items-center">
                                <img src="/image/Icons/wheyFrutas.png" alt="Amendoim" style="width: 32px; height: 32px;" class="mb-2">
                                <h5 class="adicional-item">Whey Protein de Morango - Zero (lactose,gluten e açucar) (Growth) </h5>
                                <p class="adicional-preco">R$8,50</p>
                            </div>
                        </div>


                    </div>
                </div>
            </section>


        </div>
    </div>


    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">


</body>
</html>
