<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" lang="pt-BR">
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    <title>Lista de Produtos</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/Acai.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/Navbar.css">
    <link rel="stylesheet" href="~/css/Titulos.css">
    <link rel="stylesheet" href="~/css/espacamento.css">
    <link rel="stylesheet" href="~/css/pedidoWhats.css">
 
</head>
<body>

    <div class="container">
        <img src="/image/whatsapp-icon.png" alt="WhatsApp" class="whatsapp-icon">
        <span class="whatsapp-text">WhatsApp</span>

        <p class="description">Já escolheu seu pedido? 🍓 Clique no link abaixo e faça seu pedido agora pelo WhatsApp! 📲👇</p>
        <a href="https://wa.me/5534997994865" class="order-button">FAZER PEDIDO AGORA</a>
    </div>

    <div class="container mt-5">
        <h2 id="acai-title" class="text-center mb-4">Panquecas Fit</h2>
        <div class="row">
            <!-- Card 1 -->
            <div class="col-md-4">
                <div class="card mb-4" style="height: 100%;">
                    <img src="/image/Panquecas/PanquecaCarne.png" class="card-img-top" alt="Açaí Médio" />
                    <div class="card-body d-flex flex-column">
                        <h5 class="card-title">Panqueca de carne</h5>
                        <p class="card-text"></p>
                        <p class="card-text"><strong>Preço: R$ 30.00</strong></p>
                      

                        <div class="mt-auto">
                            <!-- Botão para abrir a modal -->
                            <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#CocazeroModal">Ver Mais</button>
                        </div>
                    </div>
                </div>
            </div>

            <!-- Modal -->
            <div class="modal fade" id="CocazeroModal" tabindex="-1" aria-labelledby="acaiModalLabel" aria-hidden="true">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title" id="acaiModalLabel">Panqueca de carne</h5>
                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                        </div>
                        <div class="modal-body">
                            <img src="/image/Panquecas/PanquecaCarne.png" class="img-fluid mb-3" alt="Açaí Médio" />
                            <p>
                                Deliciosas panquecas, apresentadas em duas unidades com recheio de 50gr cada sendo, carne e queijo minas frescal, cuidadosamente envoltas em um saboroso e robusto molho de tomate com tomate picado, finalizadas com mussarela, e salsinha desidratada.
                                Sem glúten | Sem lactose | Sem açúcar | Sem conservantes | Temperos naturais |
                            </p>

                          
                            <p><strong>Preço: R$ 30,00</strong></p>


                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Fechar</button>
                            
                        </div>
                    </div>
                </div>
            </div>


            <!-- Card 2 -->
            <div class="col-md-4">
                <div class="card mb-4" style="height: 100%;">
                    <img src="/image/Panquecas/PanquecaFrango.png" class="card-img-top" alt="Açaí Médio" />
                    <div class="card-body d-flex flex-column">
                        <h5 class="card-title">Panqueca de frango cremoso</h5>
                        <p class="card-text"></p>
                        <p class="card-text"><strong>Adicionais disponíveis:</strong></p>  
                        <p class="card-text"><strong>Preço: R$ 32,00</strong></p>
                        <div class="mt-auto">
                            <!-- Botão para abrir a modal -->
                            <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#tri">Ver Mais</button>
                        </div>
                    </div>
                </div>
            </div>

            <!-- Modal -->
            <div class="modal fade" id="tri" tabindex="-1" aria-labelledby="acaiModalLabel" aria-hidden="true">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title" id="acaiModalLabel">Panqueca de frango cremoso</h5>
                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                        </div>
                        <div class="modal-body">
                            <img src="/image/Panquecas/PanquecaFrango.png" class="img-fluid mb-3" alt="Açaí Médio" />
                            <p>
                                Deliciosas panquecas, apresentadas em duas unidades com recheio de 50gr cada, sendo frango cremoso e queijo minas frescal, cuidadosamente envoltas em um saboroso e robusto molho bechamel com cebolinha, finalizadas com mussarela, e salsinha desidratada.
                                Sem glúten | Sem lactose | Sem açúcar | Sem conservantes | Temperos naturais |
                            </p>
                            <p><strong>Preço: R$ 32,00</strong></p>


                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Fechar</button>

                        </div>
                    </div>
                </div>
            </div>

            <!-- Card 3 -->
            <div class="col-md-4">
                <div class="card mb-4" style="height: 100%;">
                    <img src="/image/Panquecas/PanquecaPizza.png" class="card-img-top" alt="Açaí Médio" />
                    <div class="card-body d-flex flex-column">
                        <h5 class="card-title">Panqueca de pizza</h5>
                        <p class="card-text"></p>
                        <p class="card-text"><strong>Adicionais disponíveis:</strong></p>
                        <p class="card-text"><strong>Preço: R$ 29,00</strong></p>
                        <div class="mt-auto">
                            <!-- Botão para abrir a modal -->
                            <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#pizza">Ver Mais</button>
                        </div>
                    </div>
                </div>
            </div>

            <!-- Modal -->
            <div class="modal fade" id="pizza" tabindex="-1" aria-labelledby="acaiModalLabel" aria-hidden="true">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title" id="acaiModalLabel">Panqueca de pizza</h5>
                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                        </div>
                        <div class="modal-body">
                            <img src="/image/Panquecas/PanquecaPizza.png" class="img-fluid mb-3" alt="Açaí Médio" />
                            <p>
                                Deliciosas panquecas, apresentadas em duas unidades com recheio de 50gr cada, sendo presunto e mussarela, cuidadosamente envoltas em um saboroso e robusto molho de tomate com tomate picado, finalizadas com mussarela, e salsinha desidratada.
                                Sem glúten | Sem lactose | Sem açúcar | Sem conservantes | Temperos naturais |
                            </p>
                            <p><strong>Preço: R$ 29,00</strong></p>


                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Fechar</button>

                        </div>
                    </div>
                </div>
            </div>






          

        </div>
    </div>


    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>
</html>
