<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" lang="pt-BR">
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    <title>Lista de Produtos</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" />
    <link rel="stylesheet" href="/css/site.css" />
    <link rel="stylesheet" href="/css/Navbar.css">
    <link rel="stylesheet" href="/css/Titulos.css">
    <link rel="stylesheet" href="/css/espacamento.css">
    <link rel="stylesheet" href="/css/pedidoWhats.css">
</head>
<body>
    <div class="container">
        <img src="/image/whatsapp-icon.png" alt="WhatsApp" class="whatsapp-icon">
        <span class="whatsapp-text">WhatsApp</span>
        <p class="description">Já escolheu seu pedido? 🍓 Clique no link abaixo e faça seu pedido agora pelo WhatsApp! 📲👇</p>
        <a href="https://wa.me/5534997994865" class="order-button">FAZER PEDIDO AGORA</a>
    </div>
    <br />
    @Html.Partial("_Header")

    <div class="container mt-5">
        <h2 id="acai-title" class="text-center mb-4">Smoothies</h2>
        <div class="row">
            <!-- Card 1 -->
            <div class="col-md-4">
                <div class="card mb-4 h-100">
                    <img src="/image/Smo/bifa.png" class="card-img-top" alt="Bifásico de morango e maracujá" />
                    <div class="card-body d-flex flex-column">
                        <h5 class="card-title">Bifásico de morango e maracujá - 500ml.</h5>
                        <p class="card-text"><strong>Preço: R$ 28,00</strong></p>
                        <div class="mt-auto">
                            <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#bifaModal">Ver Mais</button>
                        </div>
                    </div>
                </div>
            </div>

            <!-- Modal 1 -->
            <div class="modal fade" id="bifaModal" tabindex="-1" aria-labelledby="modalLabel1" aria-hidden="true">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title">Bifásico de morango e maracujá - 500ml.</h5>
                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                        </div>
                        <div class="modal-body">
                            <img src="/image/Smo/bifa.png" class="img-fluid mb-3" alt="Bifásico de morango e maracujá" />
                            <p>Uma bebida refrescante e saborosa com morango e maracujá, perfeita para quem busca uma opção saudável e equilibrada.</p>
                            <p><strong>Preço: R$ 28,00</strong></p>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Fechar</button>
                        </div>
                    </div>
                </div>
            </div>

            <!-- Card 2 -->
            <div class="col-md-4">
                <div class="card mb-4 h-100">
                    <img src="/image/Smo/smoChocoWhey.jpg" class="card-img-top" alt=Chocolate e whey" />
                    <div class="card-body d-flex flex-column">
                        <h5 class="card-title">Banana Chocolate e whey - 500ml.</h5>
                        <p class="card-text"><strong>Preço: R$ 34,00</strong></p>
                        <div class="mt-auto">
                            <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#chocoWheyModal">Ver Mais</button>
                        </div>
                    </div>
                </div>
            </div>
            <!-- Modal 2 -->
            <div class="modal fade" id="chocoWheyModal" tabindex="-1" aria-labelledby="modalLabel2" aria-hidden="true">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title"> Banana Chocolate e whey - 500ml.</h5>
                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                        </div>
                        <div class="modal-body">
                            <img src="/image/Smo/smoChocoWhey.jpg" class="img-fluid mb-3" alt="Chocolate e whey" />
                            <p>
                                Uma combinação irresistível de Brigadeiro Chocofit, meticulosamente preparado para manter a doçura e o sabor inconfundível. Adicionamos a suavidade e o frescor da banana e iogurte natural para proporcionar aquela cremosidade, e, para completar, a riqueza nutricional do Whey de chocolate da renomada marca Growth. Um deleite saudável e indulgente ao mesmo tempo, ideal para saciar a fome e manter a forma.
                                | Sem glúten | Sem lactose | Sem açúcar | Sem conservantes | Adoçantes naturais |.
                            </p>
                            <p><strong>Preço: R$ 34,00</strong></p>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Fechar</button>
                        </div>
                    </div>
                </div>
            </div>

            <!-- Card 3 -->
            <div class="col-md-4">
                <div class="card mb-4" style="height: 100%;">
                    <img src="/image/Smo/smothieMorango.jpg" class="card-img-top" alt="Morango, Cranberry e Whey" />
                    <div class="card-body d-flex flex-column">
                        <h5 class="card-title">Morango, Cranberry e Whey - 500ml (Imagem ilustrativa)</h5>
                        <p class="card-text"><strong>Preço: R$ 36,00</strong></p>
                        <div class="mt-auto">
                            <!-- Botão para abrir a modal -->
                            <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#morangoModal">Ver Mais</button>
                        </div>
                    </div>
                </div>
            </div>

            <!-- Modal -->
            <div class="modal fade" id="morangoModal" tabindex="-1" aria-labelledby="morangoModalLabel" aria-hidden="true">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title" id="morangoModalLabel">Morango, Cranberry e Whey - 500ml (Imagem ilustrativa)</h5>
                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                        </div>
                        <div class="modal-body">
                            <img src="/image/Smo/smothieMorango.jpg" class="img-fluid mb-3" alt="Morango, Cranberry e Whey" />
                            <p>
                                Este smoothie é uma combinação vibrante de morangos frescos e doces, cranberry intensas, perfeitamente equilibradas com o sabor indulgente do leite condensado fit rosa e do iogurte natural.
                                Enriquecido com a adição do whey de morango da renomada marca Growth, este smoothie não só é deliciosamente saboroso, mas também altamente nutritivo.
                                Um prazer tropical que vai alimentar seu corpo e deliciar seus sentidos!
                            </p>
                            <p><strong>Sem glúten | Sem lactose | Sem açúcar | Sem conservantes | Adoçantes naturais</strong></p>
                            <p><strong>Preço: R$ 36,00</strong></p>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Fechar</button>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.bundle.min.js"></script>
</body>
</html>
