<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" lang="pt-BR">
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    <title>Lista de Produtos</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/Navbar.css">
    <link rel="stylesheet" href="~/css/Titulos.css">
    <link rel="stylesheet" href="~/css/espacamento.css">
    <link rel="stylesheet" href="~/css/pedidoWhats.css">
 
</head>
<body>

    <div class="container">
        <img src="/image/whatsapp-icon.png" alt="WhatsApp" class="whatsapp-icon">
        <span class="whatsapp-text">WhatsApp</span>

        <p class="description">Já escolheu seu pedido? 🍓 Clique no link abaixo e faça seu pedido agora pelo WhatsApp! 📲👇</p>
        <a href="https://wa.me/5534997994865" class="order-button">FAZER PEDIDO AGORA</a>
    </div>

    <br />
    @Html.Partial("_Header")


    <div class="container mt-5">
        <h2 id="acai-title" class="text-center mb-4">Wrap Delight</h2>
        <div class="row">
            <!-- Card 1 -->
            <div class="col-md-4">
                <div class="card mb-4" style="height: 100%;">
                    <img src="/image/Wrap/wrap.png" class="card-img-top" alt="Açaí Médio" />
                    <div class="card-body d-flex flex-column">
                        <h5 class="card-title">Big Wrap Delight Frango</h5>
                        <p class="card-text"></p>
                        <p class="card-text"><strong>Preço: R$ 31,50</strong></p>
                        <div class="mt-auto">
                            <!-- Botão para abrir a modal -->
                            <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#CocazeroModal">Ver Mais</button>
                        </div>
                    </div>
                </div>
            </div>

            <!-- Modal -->
            <div class="modal fade" id="CocazeroModal" tabindex="-1" aria-labelledby="acaiModalLabel" aria-hidden="true">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title" id="acaiModalLabel">Big Wrap Delight Frango</h5>
                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                        </div>
                        <div class="modal-body">
                            <img src="/image/Wrap/wrap.png" class="img-fluid mb-3" alt="Açaí Médio" />
                            <p>
                                Encapsulado em uma massa wrap suave e levemente tostada, encontra-se uma generosa porção de  frango,  preparado meticulosamente para garantir um sabor irresistível. O toque final fica por conta de uma camada luxuosa de queijo mussarela derretido, tomate cereja cuidadosamente fatiado e alface. Para realçar ainda mais o sabor, polvilhamos salsinha desidratada, trazendo um aroma inebriante. Uma experiência gastronômica única te aguarda em cada mordida deste wrap.
                                Acompanha 30ml de ketchup da casa para adicionar um toque especial a sua refeição.
                                Sem glúten | Sem lactose | Sem açúcar | Sem conservantes | Temperos naturais |
                            </p>
                            <p><strong>Preço: R$ 31,50</strong></p>


                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Fechar</button>
                            
                        </div>
                    </div>
                </div>
            </div>


       


                <!-- Card 2 -->
                <div class="col-md-4">
                    <div class="card mb-4" style="height: 100%;">
                        <img src="/image/Wrap/wrap.png" class="card-img-top" alt="Açaí Médio" />
                        <div class="card-body d-flex flex-column">
                            <h5 class="card-title">Big Wrap Delight Carne</h5>
                            <p class="card-text"></p>
                            <p class="card-text"><strong>Preço: R$ 32,50</strong></p>
                            <div class="mt-auto">
                                <!-- Botão para abrir a modal -->
                                <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#carne">Ver Mais</button>
                            </div>
                        </div>
                    </div>
                </div>

                <!-- Modal -->
                <div class="modal fade" id="carne" tabindex="-1" aria-labelledby="acaiModalLabel" aria-hidden="true">
                    <div class="modal-dialog">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h5 class="modal-title" id="acaiModalLabel">Big Wrap Delight Carne</h5>
                                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                            </div>
                            <div class="modal-body">
                                <img src="/image/Wrap/wrap.png" class="img-fluid mb-3" alt="Açaí Médio" />
                                <p>
                                    Encapsulado em uma massa wrap suave e levemente tostada, encontra-se uma generosa porção de carne moída, preparado meticulosamente para garantir um sabor irresistível. O toque final fica por conta de uma camada luxuosa de queijo mussarela derretido, tomate cereja cuidadosamente fatiado e alface. Para realçar ainda mais o sabor, polvilhamos salsinha desidratada, trazendo um aroma inebriante. Uma experiência gastronômica única te aguarda em cada mordida deste wrap.
                                    Acompanha 30ml de ketchup da casa para adicionar um toque especial a sua refeição.
                                    Sem glúten | Sem lactose | Sem açúcar | Sem conservantes | Temperos naturais |
                                </p>
                                <p><strong>Preço: R$ 32,50</strong></p>


                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Fechar</button>
                                
                            </div>
                        </div>
                    </div>
                </div>


            <!-- Card 3 -->
            <div class="col-md-4">
                <div class="card mb-4" style="height: 100%;">
                    <img src="/image/Wrap/wrapPernilAtt.jpg" class="card-img-top" alt="Açaí Médio" />
                    <div class="card-body d-flex flex-column">
                        <h5 class="card-title">Pernil com molho holandês.</h5>
                        <p class="card-text"></p>
                        <p class="card-text"><strong>Preço: R$ 31,90</strong></p>
                        <div class="mt-auto">
                            <!-- Botão para abrir a modal -->
                            <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#pernil">Ver Mais</button>
                        </div>
                    </div>
                </div>
            </div>

            <!-- Modal -->
            <div class="modal fade" id="pernil" tabindex="-1" aria-labelledby="acaiModalLabel" aria-hidden="true">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title" id="acaiModalLabel">Big Wrap Delight Carne</h5>
                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                        </div>
                        <div class="modal-body">
                            <img src="/image/Wrap/wrapPernilAtt.jpg" class="img-fluid mb-3" alt="Açaí Médio" />
                            <p>
                                Este prato é uma deliciosa combinação de pernil suculento e meticulosamente desfiado e cremoso com queijo mussarela fresco. Acompanhado de tomates cereja frescos e folhas de alface para adicionar uma pitada de frescor. O toque final é dado pelo molho holandês e a farofa de bacon, que traz uma cremosidade incomparável
                            </p>
                            <p><strong>Preço: R$ 31,90</strong></p>


                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Fechar</button>

                        </div>
                    </div>
                </div>
            </div>

          

        </div>
    </div>


    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>
</html>
