
.menu-item {
    width: 150px;
    height: 150px;
    background-size: cover;
    background-position: center;
    border-radius: 12px;
    display: flex;
    align-items: flex-end;
    justify-content: center;
    color: white;
    text-shadow: 1px 1px 5px rgba(0, 0, 0, 0.7);
    padding: 10px;
    transition: transform 0.3s, box-shadow 0.3s;
}

.menu-item:hover {
    transform: scale(1.05);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
}

.nav-link {
    text-decoration: none;
}

