<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" lang="pt-BR">
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    <title>Lista de Produtos</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/Navbar.css">
    <link rel="stylesheet" href="~/css/Titulos.css">
    <link rel="stylesheet" href="~/css/espacamento.css">
    <link rel="stylesheet" href="~/css/pedidoWhats.css">
 
</head>
<body>

    <div class="container">
        <img src="/image/whatsapp-icon.png" alt="WhatsApp" class="whatsapp-icon">
        <span class="whatsapp-text">WhatsApp</span>

        <p class="description">Já escolheu seu pedido? 🍓 Clique no link abaixo e faça seu pedido agora pelo WhatsApp! 📲👇</p>
        <a href="https://wa.me/5534997994865" class="order-button">FAZER PEDIDO AGORA</a>
    </div>

    <div class="container mt-5">
        <h2 id="acai-title" class="text-center mb-4">Omeletes</h2>
        <div class="row">
            <!-- Card 1 -->
            <div class="col-md-4">
                <div class="card mb-4" style="height: 100%;">
                    <img src="/image/Omeletes/calabresa.png" class="card-img-top" alt="Açaí Médio" />
                    <div class="card-body d-flex flex-column">
                        <h5 class="card-title">Calabresa e tomate.</h5>
                        <p class="card-text"></p>
                        <p class="card-text"><strong>Preço: R$ 28,00</strong></p>
                        <div class="mt-auto">
                            <!-- Botão para abrir a modal -->
                            <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#sensacao">Ver Mais</button>
                        </div>
                    </div>
                </div>
            </div>

            <!-- Modal -->
            <div class="modal fade" id="sensacao" tabindex="-1" aria-labelledby="acaiModalLabel" aria-hidden="true">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title" id="acaiModalLabel">Calabresa e tomate</h5>
                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                        </div>
                        <div class="modal-body">
                            <img src="/image/Omeletes/calabresa.png" class="img-fluid mb-3" alt="Açaí Médio" />
                            <p>
                                Este prato é cuidadosamente preparado com calabresa suculenta e saborosa, harmonizada com um leve queijo minas frescal e molho vermelho. Ele é delicadamente enriquecido com tomates cereja frescos e vibrantes, que trazem um toque de acidez perfeitamente balanceado. Para finalizar, adicionamos um toque de orégano e salsinha desidratada, que dão um sabor aromático e inconfundível a este prato. Uma verdadeira explosão de sabores em cada garfada!
                                Sem glúten | Sem lactose | Sem açúcar | Sem conservantes | Temperos naturais |
                            </p>
                            <p><strong>Preço: R$ 28,00</strong></p>


                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Fechar</button>
                            
                        </div>
                    </div>
                </div>
            </div>


            <!-- Card 2 -->
            <div class="col-md-4">
                <div class="card mb-4" style="height: 100%;">
                    <img src="/image/Omeletes/omeleteCapresseAtt.png" class="card-img-top" alt="Açaí Grande" />
                    <div class="card-body d-flex flex-column">
                        <h5 class="card-title">Caprese</h5>
                        <p class="card-text">.</p>
                        <p class="card-text"><strong>Preço: R$ 30,00</strong></p>
                        <div class="mt-auto">
                            <!-- Botão para abrir a modal -->
                            <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#CocaModal">Ver Mais</button>
                        </div>
                    </div>
                </div>
            </div>

            <!-- Modal -->
            <div class="modal fade" id="CocaModal" tabindex="-1" aria-labelledby="acaiModalLabel" aria-hidden="true">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title" id="acaiModalLabel">Caprese. (Imagem Ilustrativa)</h5>
                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                        </div>
                        <div class="modal-body">
                            <img src="/image/Omeletes/omeleteCapresseAtt.png" class="img-fluid mb-3" alt="Açaí Médio" />
                            <p>
                                Apresentamos a nossa magnífica omelete 'Caprese', uma perfeita fusão de sabores frescos e autênticos. Esta delícia é meticulosamente preparada com manjericão fresco, trazendo um aroma inconfundível, e uma combinação harmoniosa de queijo minas frescal e queijo búfala, garantindo uma textura suave e sabor inigualável. Adicionamos tomates cereja para um toque de acidez refrescante e finalizamos com um generoso fio de nosso autêntico molho pesto e uma leve pitada de salsinha desidratada, Um prato leve, porém, incrivelmente saboroso e gratificante.
                                Sem glúten | Sem lactose | Sem açúcar | Sem conservantes | Temperos naturais | Vegetariano |
                            </p>
                            <p><strong>Preço: R$ 30,00</strong></p>


                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Fechar</button>
                         
                        </div>
                    </div>
                </div>
            </div>


            <!-- Card 3 -->
            <div class="col-md-4">
                <div class="card mb-4" style="height: 100%;">
                    <img src="/image/Omeletes/omeleFrangoBacon.jpg" class="card-img-top" alt="Açaí Grande" />
                    <div class="card-body d-flex flex-column">
                        <h5 class="card-title">Frango bacon e queijo. (Imagem Ilustrativa)</h5>
                        <p class="card-text">.</p>
                        <p class="card-text"><strong>Preço: R$ 30,90</strong></p>
                        <div class="mt-auto">
                            <!-- Botão para abrir a modal -->
                            <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#moran">Ver Mais</button>
                        </div>
                    </div>
                </div>
            </div>

            <!-- Modal -->
            <div class="modal fade" id="moran" tabindex="-1" aria-labelledby="acaiModalLabel" aria-hidden="true">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title" id="acaiModalLabel">Frango bacon e queijo. (Imagem Ilustrativa)</h5>
                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                        </div>
                        <div class="modal-body">
                            <img src="/image/Omeletes/omeleFrangoBacon.jpg" class="img-fluid mb-3" alt="Açaí Médio" />
                            <p>
                                Este prato é uma combinação harmoniosa de frango desfiado, bacon crocante e queijo muçarela derretido, proporcionando uma experiência de sabor inigualável. A sofisticação do orégano e o toque final da pimenta calabresa elevam este prato a um novo patamar de sabor. Uma opção perfeita para quem busca uma refeição substanciosa e repleta de sabor.
                                Sem glúten | Sem lactose | Sem açúcar | Sem conservantes | Temperos naturais |
                            </p>
                            <p><strong>Preço: R$ 30,90</strong></p>


                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Fechar</button>

                        </div>
                    </div>
                </div>
            </div>

            <!-- Espaçamento a cada 3 cards -->
            <div class="row mb-4"></div> <!-- Adiciona um espaço abaixo dos primeiros três cards -->

            <!-- Card 4 -->
            <div class="col-md-4">
                <div class="card mb-4" style="height: 100%;">
                    <img src="/image/Omeletes/omelePizza.jpg" class="card-img-top" alt="Açaí Grande" />
                    <div class="card-body d-flex flex-column">
                        <h5 class="card-title">Pizza. (Imagem Ilustrativa)</h5>
                        <p class="card-text">.</p>
                        <p class="card-text"><strong>Preço: R$ 31,00</strong></p>
                        <div class="mt-auto">
                            <!-- Botão para abrir a modal -->
                            <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#banana">Ver Mais</button>
                        </div>
                    </div>
                </div>
            </div>

            <!-- Modal -->
            <div class="modal fade" id="banana" tabindex="-1" aria-labelledby="acaiModalLabel" aria-hidden="true">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title" id="acaiModalLabel">Pizza. (Imagem Ilustrativa)</h5>
                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                        </div>
                        <div class="modal-body">
                            <img src="/image/Omeletes/omelePizza.jpg" class="img-fluid mb-3" alt="Açaí Médio" />
                            <p>
                                Saboreie nosso omelete de pizza, Este prato é preparado com presunto de alta qualidade, tomate fresco e suculento, queijo muçarela derretido, orégano que traz um aroma irresistível e salsinha desidratada cuidadosamente selecionada para dar aquele toque especial. Uma explosão de sabores que promete encantar seu paladar!
                                Acompanha 30ml de ketchup da casa para adicionar um toque especial a sua refeição.
                                Sem glúten | Sem lactose | Sem açúcar | Temperos naturais |
                            </p>
                            <p><strong>Preço: R$ 31,00</strong></p>


                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Fechar</button>

                        </div>
                    </div>
                </div>
            </div>

            <!-- Card 5 -->
            <div class="col-md-4">
                <div class="card mb-4" style="height: 100%;">
                    <img src="/image/Omeletes/omeletePeitoPeruAtt.png" class="card-img-top" alt="Açaí Grande" />
                    <div class="card-body d-flex flex-column">
                        <h5 class="card-title">Peito de peru</h5>
                        <p class="card-text">.</p>
                        <p class="card-text"><strong>Preço: R$ 28,00</strong></p>
                        <div class="mt-auto">
                            <!-- Botão para abrir a modal -->
                            <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#bananaa">Ver Mais</button>
                        </div>
                    </div>
                </div>
            </div>

            <!-- Modal -->
            <div class="modal fade" id="bananaa" tabindex="-1" aria-labelledby="acaiModalLabel" aria-hidden="true">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title" id="acaiModalLabel">Peito de peru</h5>
                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                        </div>
                        <div class="modal-body">
                            <img src="/image/Omeletes/omeletePeitoPeruAtt.png" class="img-fluid mb-3" alt="Açaí Médio" />
                            <p>
                                O nosso Peito de Peru é uma omelete sofisticada e saborosa. Este prato é meticulosamente preparado com generosas fatias de peito de peru, enriquecidas com queijo minas frescal, proporcionando um sabor leve e saudável. O colorido e doce tomate cereja adiciona o toque final perfeito, enquanto o orégano e a salsinha desidratada elevam o sabor a novos níveis, criando uma experiência gastronômica de dar água na boca. Ideal para quem procura uma opção nutritiva, sem abrir mão do sabor.
                                Acompanha 30ml de ketchup da casa para adicionar um toque especial a sua refeição.
                                Sem glúten | Sem lactose | Sem açúcar | Temperos naturais |
                            </p>
                            <p><strong>Preço: R$ 28,00</strong></p>


                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Fechar</button>

                        </div>
                    </div>
                </div>
            </div>

            <!-- Card 6 -->
            <div class="col-md-4">
                <div class="card mb-4" style="height: 100%;">
                    <img src="/image/Omeletes/omePernilHoland.jpg" class="card-img-top" alt="Açaí Grande" />
                    <div class="card-body d-flex flex-column">
                        <h5 class="card-title">Pernil com molho holandês. (Imagem Ilustrativa)</h5>
                        <p class="card-text">.</p>
                        <p class="card-text"><strong>Preço: R$ 29,90</strong></p>
                        <div class="mt-auto">
                            <!-- Botão para abrir a modal -->
                            <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#holan">Ver Mais</button>
                        </div>
                    </div>
                </div>
            </div>

            <!-- Modal -->
            <div class="modal fade" id="holan" tabindex="-1" aria-labelledby="acaiModalLabel" aria-hidden="true">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h6 class="modal-title" id="acaiModalLabel">Pernil com molho holandês. (Imagem Ilustrativa)</h6>
                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                        </div>
                        <div class="modal-body">
                            <img src="/image/Omeletes/omePernilHoland.jpg" class="img-fluid mb-3" alt="Açaí Médio" />
                            <p>
                                Este prato é uma combinação tentadora de pernil suculento cremoso, queijo mussarela e vibrantes tomates cereja. Acompanha um exótico molho cítrico holandês, ele ganha uma textura agradável com a farofa de bacon crocante. A salsinha desidratada e pimenta calabresa adicionam um toque aromático final. Uma experiência culinária única, repleta de sabores contrastantes e harmoniosos. Ideal para quem aprecia uma refeição inesquecível e sofisticada.

                                Para preservar a crocância da massa, o molho é servido separadamente. Sugerimos delicadamente abrir a embalagem e adicionar o molho por cima do pernil, conforme seu gosto.
                                Sem glúten | Sem lactose | Sem açúcar | Sem conservantes | Temperos naturais |
                            </p>
                            <p><strong>Preço: R$ 29,90</strong></p>


                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Fechar</button>

                        </div>
                    </div>
                </div>
            </div>

            <!-- Espaçamento a cada 3 cards -->
            <div class="row mb-4"></div> <!-- Adiciona um espaço abaixo dos primeiros três cards -->

            <!-- Card 7 -->
            <div class="col-md-4">
                <div class="card mb-4" style="height: 100%;">
                    <img src="/image/Omeletes/omCogumelos.jpg" class="card-img-top" alt="Açaí Grande" />
                    <div class="card-body d-flex flex-column">
                        <h5 class="card-title">Cogumelos. (Imagem Ilustrativa)</h5>
                        <p class="card-text">.</p>
                        <p class="card-text"><strong>Preço: R$ 29,00</strong></p>
                        <div class="mt-auto">
                            <!-- Botão para abrir a modal -->
                            <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#Cogumelos">Ver Mais</button>
                        </div>
                    </div>
                </div>
            </div>

            <!-- Modal -->
            <div class="modal fade" id="Cogumelos" tabindex="-1" aria-labelledby="acaiModalLabel" aria-hidden="true">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title" id="acaiModalLabel">Cogumelos. (Imagem Ilustrativa)</h5>
                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                        </div>
                        <div class="modal-body">
                            <img src="/image/Omeletes/omCogumelos.jpg" class="img-fluid mb-3" alt="Açaí Médio" />
                            <p>
                                Apresentamos uma combinação harmoniosa de Funghi, Shimeji e Shitake cuidadosamente preparados com temperos naturais e refogados na manteiga com molho de soja. Acrescenta-se um pouco de molho branco cremoso, que realça o sabor dos cogumelos. A adição de queijo Minas fresco proporciona uma suavidade equilibrada, enquanto o tomate confit adiciona uma doçura sutil e uma profundidade de sabor. Finalizado com salsinha desidratada e amêndoas laminadas levemente grelhadas para um toque extra de frescor. Uma delícia vegetariana que encanta até os paladares mais exigentes.

                                Sem glúten | Sem lactose | Sem açúcar | Sem conservantes | Temperos naturais | Vegetariano |
                            </p>
                            <p><strong>Preço: R$ 29,00</strong></p>


                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Fechar</button>

                        </div>
                    </div>
                </div>
             </div>

            <!-- Card 8 -->
            <div class="col-md-4">
                <div class="card mb-4" style="height: 100%;">
                    <img src="/image/Omeletes/ChickenCheedarOmete.png" class="card-img-top" alt="Açaí Grande" />
                    <div class="card-body d-flex flex-column">
                        <h5 class="card-title">Chicken Cheddar</h5>
                        <p class="card-text">.</p>
                        <p class="card-text"><strong>Preço: R$ 29,00</strong></p>
                        <div class="mt-auto">
                            <!-- Botão para abrir a modal -->
                            <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#med">Ver Mais</button>
                        </div>
                    </div>
                </div>
            </div>

            <!-- Modal -->
            <div class="modal fade" id="med" tabindex="-1" aria-labelledby="acaiModalLabel" aria-hidden="true">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title" id="acaiModalLabel">Chicken Cheddar</h5>
                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                        </div>
                        <div class="modal-body">
                            <img src="/image/Omeletes/ChickenCheedarOmete.png" class="img-fluid mb-3" alt="Açaí Médio" />
                            <p>
                                Cuidadosamente preparado com frango suculento levemente triturado, misturado com a frescura picante da rúcula e o sabor inigualável do tomate fresco. Encontramos também a suavidade do queijo muçarela, perfeitamente equilibrado com o toque aromático do orégano e a salsinha desidratada. Um prato que celebra os sabores vibrantes e saudáveis do Mediterrâneo em cada garfada.
                                | Sem glúten | Sem lactose | Sem açúcar | Sem conservantes | Temperos naturais |
                            </p>
                            <p><strong>Preço: R$ 29,00</strong></p>


                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Fechar</button>

                        </div>
                    </div>
                </div>
            </div>


               




            

          


        </div>
    </div>


    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>
</html>
